<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css/materialize.min.css" />
    <link rel="stylesheet" href="./static/css/styles.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FakeBuster</title>
    <body>
      <!-- <header>
        <div class="row card-panel white lighten-2 z-depth-3">
          <div class="col s12">
            <h1 class="center">Fake Buster</h1>
          </div>
        </div>
      </header> -->
      <nav class="black z-depth-3">
        <div class="nav-wrapper">
          <a href="home" class="brand-logo center">FakeBuster</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li><a class="nav-a" href="home">Home</a></li>
            <li><a class="nav-a" href="sass.html">About</a></li>
            <li><a class="nav-a" href="team">Our Team</a></li>
            <!-- <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li> -->
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="home">Home</a></li>
        <li><a href="sass.html">About</a></li>
        <li><a href="team">Our Team</a></li>
        <!-- <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li> -->
      </ul>
      <main>
        <div class="container home-container">
          <div class="input center row" style="margin-top:130px">
            <form
              action="/scrape"
              class="col s6 m6 offset-s3 offset-m3 z-depth-3 "
              method="POST"
            >
              <div class="inner1 row">
                <div class="input-field col s12">
                  <input
                    name="keyword"
                    id="keyword"
                    type="text"
                    class="validate"
                  />
                  <label for="keyword">Claim or URL</label>
                </div>
              </div>
              <div class="inner2 row">
                <button
                  id="search"
                  class="btn waves-effect waves-light black white-text"
                  type="submit"
                  name="action"
                >
                  Scrape Articles
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>
      <!-- <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div> -->
      <footer class="page-footer black">
        <div class="footer-copyright black">
          <div class="container center white-text">
            Designed and Developed by Maneesh P, Suraj Nagendra S, Janifa M,
            Fathima Shana Noory. © 2019
          </div>
        </div>
      </footer>

      <script type="text/javascript">
        $("#search").click(function(e) {
          $("#loading").show();
        });
        $(window).on("load", function() {
          $("#loading").hide();
        });
        $(document).ready(function() {
          $(".sidenav").sidenav();
        });
      </script>
    </body>
    <div id="loading" class="center">
      <img
        id="loading-image"
        src="../static/images/giphy2.gif"
        alt="Loading..."
      />
      <h4 id="message">Hang on tight! This might take a while...</h4>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="../static/js/materialize.min.js"></script>
  </head>
</html>
